body {
  padding: 10px;
}


h1 {
  color: #05004e;
  font-size: 50px;
}

h3 {
  color: #76b39d;
}

p {

  font-size: 20px;
  line-height: 24px;
  font-color: #dddddd;

}

.menu {
  font-size: 20px;
}

.menu a {
  margin-left: 15px;
  margin-right: 15px;
}


