
/* || Base  */
body {
  padding: 10px;
  background-color: #151515;
}

h1 {
  color: #999;
  font-size: 50px;
}

h2 {
  color: #999;
  font-size: 30px;
}

h3 {
  color: #76b39d;
}

h4 {
  color: #999;
  font-size: 26px;
}

p {
  color: #888;
  font-size: 20px;
  line-height: 24px;
}

ul, ol {
  color: #888;
}

a:visited {
  color: #58af8f;
}

/* || Navigation  */
.menu {
  font-size: 20px;
}

.menu a {
  margin: 0 15px;
}

/* || GIF carousel  */
.gifpane-inline {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  background-color: black;
}

.img-gif {
  vertical-align: middle;
  height: 150px;
}

.img-gif-state {
  vertical-align: middle;
  width: 150px;

  opacity: .3;
}

.img-gif-state:hover {
  vertical-align: middle;
  width: 150px;
  opacity: 1;
}

.menu a {
  display: inline-block;
}